@charset "utf-8";

* {margin: 0;padding: 0;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');


ol,ul {list-style: none;}

a:link { text-decoration: none; color: #333;}
a:active {text-decoration: none;color: #333;}
a:hover {text-decoration: none;color: #333;}
a:focus {text-decoration: none;color: #333;}
a:visited {text-decoration: none;color: #333;}



body{font-family:'Noto Sans KR', sans-serif; font-size: 20x; line-height: 36px; color: #333; background: #fff;}








.project_inner{
	max-width: 1200px;
	margin: 0 auto;
    

}













/*이미지들어갈곳*/

.re_img{
	width: 100%;
}


	
	


.project_img{

    line-height: 0;
	position: relative;
    width: 100%; 
}

/*// 이미지들어갈곳*/








/*  부산시립미술관 링크  */

.busan_btn {
	position: absolute;
	top: 27%;
	right: 30%;
}








/*  호텔델루나 링크  */

.deluna_btn {
	position: absolute;
	top: 66%;
	left: 37%;
}








/* 부산아트 ㄴ뒤로가기 버튼*/

.back{
	padding: 2% 50%;
	background: #454b58; 
}
.back_btn{
	text-transform: uppercase;
	display: inline-block;
	background: #eeeeee;
	width: 80px;
	height: 80px;
	padding: 22px 0 0 20px;
	box-sizing: border-box;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3); 
	border-radius: 50px;
	color:#fff;
	transition: 0.5s;
}

.back_btn a{
	color: #333;

}

.back_btn:hover {
	background: #333333;
	color: #ffffff;
}

.back_btn:hover a{
	color: #ffffff;
}
/* //뒤로가기 버튼*/






/* 델루나 뒤로가기 */

.del_back{
	padding: 2% 50%;
	background: #2a3753; 
}
.back_btn{
	text-transform: uppercase;
	display: inline-block;
	background: #eeeeee;
	width: 80px;
	height: 80px;
	padding: 22px 0 0 20px;
	box-sizing: border-box;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3); 
	border-radius: 50px;
	color:#fff;
	transition: 0.5s;
}

.back_btn a{
	color: #333;

}

.back_btn:hover {
	background: #333333;
	color: #ffffff;
}

.back_btn:hover a{
	color: #ffffff;
}





/* 만개의레시피 뒤로가기 */

.man_back{
	padding: 1% 50%;
	background: #fffbc5; 
}
.back_btn{
	text-transform: uppercase;
	display: inline-block;
	background: #eeeeee;
	width: 80px;
	height: 80px;
	padding: 22px 0 0 20px;
	box-sizing: border-box;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3); 
	border-radius: 50px;
	color:#fff;
	transition: 0.5s;
    transform: translateX(-50%); 
}

.back_btn a{
	color: #333;

}

.back_btn:hover {
	background: #333333;
	color: #ffffff;
}

.back_btn:hover a{
	color: #ffffff;
}











@media all and (max-width:780px) {
	

.re_img{
	width: 100%;
}

	

	
	
	
	
	
} /*전체*/







